@import 'bootstrap';

.body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

.card-body {
  text-align: center;
}

.myBtn {
  display: flex;
  justify-content: center;
}